@{
    Layout = "_Layout";
    ViewData["title"] = "Book Bookie About Us";
}
<html>
<head>
    <title>Book Bookie About Us</title>
    <link rel="stylesheet" href="~/css/bookbookie_aboutus.css" />
</head>
<body>

    <div class="aboutus-container">

            <div class="aboutus-card">
                <img src="/images/Christopher_headshot.png" alt="Christopher Coates" style="width:100%">
                <h1>Christopher Coates</h1>
                <p class="title">Computer Science Student</p>
                <p>Rhode Island College</p>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
            </div>
            <div class="aboutus-card">
                <img src="/images/saleem_headshot.png" alt="Sa-Leem Kamarah" style="width:100%">
                <h1>Sa-Leem Kamarah</h1>
                <p class="title">Computer Science Student</p>
                <p>Rhode Island College</p>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
            </div>
            <div class="aboutus-card">
                <img src="/images/camerashy.png" alt="Sa-Leem Kamarah" style="width:100%">
                <h1>Sam Palacio</h1>
                <p class="title">Computer Science Student</p>
                <p>Rhode Island College</p>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
            </div>
            <div class="aboutus-card">
                <img src="/images/mike_headshot.png" alt="Mike Constantio" style="width:100%">
                <h1>Mike Constantino</h1>
                <p class="title">Computer Science Student</p>
                <p>Rhode Island College</p>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <p><button>Contact</button></p>
            </div>
    </div>

</body>
</html>