@{
    Layout = "_Layout";
}
<div class="col-25">
    <div class="container">
        <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
        <p><a href="#">Human Anatomy</a> <span class="price">$35</span></p>
        <p><a href="#">Abstract Algebra</a> <span class="price">$25</span></p>
        <p><a href="#">Intro to Python</a> <span class="price">$35</span></p>
        <p><a href="#">Childrens Literature</a> <span class="price">$15</span></p>
        <hr>
        <p>Total <span class="price" style="color:black"><b>$110</b></span></p>
    </div>
</div>
