
@{
    Layout = "_Layout";
}
    <!-- Search Menu --->
    <div class="search_menu">
        <form>
            <button type="submit"><i class="fas fa-search"></i></button>
            <input type="text" name="search" placeholder="Search...">
        </form>
    </div>

    <!--Bestsellers, New releases, comming soon container-->
    <div class="main_showcase">
        <div class="main_item">
            <img src="~/images/top_100.jpg" />
        </div>
        <div class="main_item">
            <img src="~/images/new_releases.jpg">
        </div>
        <div class="main_item">
            <img src="~/images/coming_soon.jpg">
        </div>
    </div>
    <!--solid line-->
    <hr class="solid_line">

    <!-- now trending conatiner -->
    <h2 class="now-trending__header">now trending</h2>
    <div class="now-trending__container">
        <div class="now-trending__card">
            <img src="~/images/now_trending1.jpg">
            <h3>Human Anatomy</h3>
                    <h5>Marieb Brady Mallatt</h5>
                            <div class="stars">
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star-half-alt half"></i>
                            </div>
                            <!-- Trigger/Open The Modal -->
                            <button id="myBtn">See More</button>
                            <!-- The Modal -->
                            <div id="myModal" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <p>Some text in the Modal..</p>
                                </div>
                            </div>
        </div>
        <div class="now-trending__card">
            <img src="~/images/now_trending2.jpg">
            <h3>abstract algebra</h3>
                    <h5>joseph j. rotman</h5>
                            <div class="stars">
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star-half-alt half"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <!-- Trigger/Open The Modal -->
                            <button id="myBtn">See More</button>
                            <!-- The Modal -->
                            <div id="myModal" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <p>Some text in the Modal..</p>
                                </div>
                            </div>
        </div>
        <div class="now-trending__card">
            <img src="~/images/now_trending3.jpg">
            <h3>literature for childern</h3>
                    <h5>david l. Russell</h5>
                            <div class="stars">
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                            </div>
                            <!-- Trigger/Open The Modal -->
                            <button id="myBtn">See More</button>
                            <!-- The Modal -->
                            <div id="myModal" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <p>Some text in the Modal..</p>
                                </div>
                            </div>
        </div>
    </div>

    <!--solid line-->
    <hr class="solid_line">

    <!--new this week container-->
    <h2 class="new-releases__header">new releases</h2>
    <div class="new-releases__container">
        <div class="new-releases__card">
            <img src="~/images/new_releases1.jpg">
            <h3>intro to python</h3>
                    <h5>Paul deitel, harvey deitel</h5>
                            <div class="stars">
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star-half-alt half"></i>
                                <i class="fas fa-star"></i>
                            </div>
        </div>
        <div class="new-releases__card">
            <img src="~/images/new_releases2.jpg">
            <h3>biology</h3>
                    <h5>raven, johnson, mason, losos, duncan</h5>
                            <div class="stars">
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star-half-alt half"></i>
                                <i class="fas fa-star"></i>
                            </div>
        </div>
        <div class="new-releases__card">
            <img src="~/images/new_releases3.jpg">
            <h3>college algebra</h3>
                    <h5>julie miller, donna gerken</h5>
                            <div class="stars">
                                <i class="fas fa-star checked"></i>
                                <i class="fas fa-star-half-alt half"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
        </div>
    </div>
