.aboutus-container {
    display: flex;
    flex-direction: row;
}
    .aboutus-container .aboutus-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        min-height: 300px;
        margin: auto;
        text-align: center;
    }

        .aboutus-container .aboutus-card .title {
            color: grey;
            font-size: 18px;
        }

        .aboutus-container .aboutus-card button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #BC5D5D;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .aboutus-container .aboutus-card a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        .aboutus-container .aboutus-card button:hover, a:hover {
            opacity: 0.7;
        }
